* {
    box-sizing: border-box;
    /* border: 1px solid red; */
}

.header {
    display: flex;
    height: 4rem;
    padding: 0.5rem 1rem;
    background-color: black;
}

.logo {
    display: flex;
    align-items: center;
    margin-right: 1em;
}

.input {
    flex-basis: 100%;
    font-size: 1.2rem;
    outline: 0;
}

.btnSearch {
    background-color: darkgray;
}

.imgSearch {
    height: 100%;
    padding: 0.5em 0.2em;
}


.videos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    list-style: none;
    padding-left: 0px;
    margin: 0;
    gap: 14px;
}

.container{
    width: 100%;
    padding: 0.2em;
}

.container .grid{
    width: 50%;
}

.video {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    border: 1px solid lightcoral;
    box-shadow: 3px 3px 5px 0px lightskyblue;
    transition: transform 250ms easy-in;
    cursor: pointer;
}

.video:hover{
    transform: scale(1.1);
}

.thumbnail{
    width: 40%;
    height: 100%;
}

.title {
    margin: 10px;
    font-size: 0.8rem;
}

.channelTitle{
    font-size: 0.8rem;
}

.detail {
    padding: 0.5em;
}

.description {
    white-space: pre-wrap;
}